# General Django settings
DJANGO_ENV=development
DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1,task-manager-ou5q.onrender.com

# PostgreSQL settings (used when DATABASE_URL is set or POSTGRES_DB is provided)
# DATABASE_URL=postgresql://user:password@localhost:5432/task_manager
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Rollbar error tracking
ROLLBAR_ACCESS_TOKEN=
ROLLBAR_ENVIRONMENT=development
ROLLBAR_ENABLED=False
ROLLBAR_CODE_VERSION=

