staticfiles/

# Python cache and bytecode
__pycache__/
*.py[cod]

# Local environment and IDE
.venv/
.idea/
.env

# Local SQLite database
db.sqlite3


# Node / Playwright
node_modules/
playwright-report/
test-results/
__tests__
playwright.config.ts
/package.json
/package-lock.json
