{% load i18n django_bootstrap5 %}
<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% trans 'Task Manager' %}{% endblock %}</title>
    {% bootstrap_css %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">{% trans 'Task Manager' %}</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="{% trans 'Toggle navigation' %}"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
                <li class="nav-item"><a class="nav-link" href="{% url 'users_index' %}">{% trans 'Users' %}</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'statuses_index' %}">{% trans 'Statuses' %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'labels_index' %}">{% trans 'Labels' %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'tasks_index' %}">{% trans 'Tasks' %}</a></li>
                <li class="nav-item">
                    <form action="{% url 'logout' %}" method="post" class="d-inline mb-0">
                        {% csrf_token %}
                        <button class="nav-link btn btn-link bg-transparent border-0 p-0" type="submit">{% trans 'Log out' %}</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'users_create' %}">{% trans 'Sign up' %}</a></li>
                {% endif %}
            </ul>
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            <form action="{% url 'set_language' %}" method="post" class="d-flex ms-3">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                <label>
                    <select name="language" class="form-select form-select-sm w-auto"
                            onchange="this.form.submit()">
                        {% for lang_code, lang_name in LANGUAGES %}
                        <option value="{{ lang_code }}"
                            {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang_name }}
                        </option>
                        {% endfor %}
                    </select>
                </label>
            </form>
        </div>
    </div>
</nav>
<main class="container">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</main>
{% bootstrap_javascript %}
</body>
</html>
